@charset "utf8";
@font-face {
    font-family: 'titulo';
    src: url('../fonts/VarsityTeam-Bold.otf')
    format('opentype');
}

:root{
    --cor0: #ffffff;
    --cor1: #000000;
    --cor2: #BCCB3E;
    --cor3: #7B9DC3;
    --cor4: #EDBA3A;

    --font0: monospace, sans-serif;
    --font1: 'titulo', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font0);
}

html{
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: rgba(83, 88, 104, 0.288);
    display: flex;
    align-items: center;
    justify-content: left; 
}

header img {
    height: 50px; 
}

header > #hamburguer{
    color: var(--cor0);
    display: block;
    position: absolute;
    left: 90%;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 32px;

}

nav#itens{
    display: none;
    background-color: rgba(83, 88, 104, 0.288);
    width: 100%;
    position: fixed;   
    top: 70px;        
    left: 0;
    z-index: 50;
}

nav#itens > ul{
    list-style-type: none;
}

nav#itens > ul > li > a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--cor0);
    background-color: rgba(83, 88, 104, 0.288);;
    padding: 15px;
    border-top: 1px solid #a7cdf8;
}

nav#itens > ul > li > a:hover{
    color: var(--cor4);
    transition: .5s;
}

div.fundo{
    background: url('../imagens/fundo1.png') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font1);
    font-size: 2em;
    color: var(--cor0);
}

section{
    height: 100vh;
    padding: 40px 40px;
}

footer{
    background-color: #24272b;
    color: var(--cor3);
    padding: 30px;
    height: 300px;
}

footer h3{
    margin-bottom: 10px;
}

footer  #redes-sociais{
    display: flex;

}

footer  #redes-sociais > a {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 50%;
    text-decoration: none;

    height: 30px;
    width: 30px;
    margin: 3px;
    margin-bottom: 30px;

}

footer  #redes-sociais > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);    
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: translate .5s;
}

footer #linha-rodape{
    border-top: 1px solid #a7cdf8;
    text-align: center;

    margin-top: 40px;
    padding-top: 10px;
}